<mat-toolbar color="accent">
  <span>Operacje</span>
</mat-toolbar>
<div class="modifications">
  <h3>Modyfikacje</h3>
  <h4>Długość spódnicy</h4>
  <mat-slider
  min="0"
  max="1"
  [value]="skirtLength"
  [step]="0.1"
  [thumb-label]="true"
  [tick-interval]="0.1"
  (change)="skirtLengthChanged($event)">
</mat-slider>

<h3>Widok</h3>
<mat-slide-toggle
    class="example-margin"
    [checked]="showFullSkirt"
    (change)="showFullToggled($event)">
    Pokaż całą formę
  </mat-slide-toggle>

</div>
